/* desktop screen */

@media (min-width: 1081px){

  * {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  /* Navigation */
  
  .nav-container {
    background: #000000;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    height: 45px;
    width: 100%;
    z-index: 500;
    opacity: 85%;
    position: fixed;
    top: 0;
  }
  
  .wrapper {
    max-width: 1200;
    margin: 0 auto;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul {
    display: flex;
  }
  
  /* Logo */
  
  .nav-logo li {
    list-style: none;
    transform: translateX(-18px);
    height: 26px;
  }
  
  .nav-logo li:nth-last-of-type(1) {
    margin: 0;
  }
  
  .nav-logo li a {
    text-decoration: none;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  }
  
  /* Items */
  
  .nav-items li {
    list-style: none;
    margin-right: 100px;
    transform: translateX(28px);
  }
  
  .nav-items li:nth-last-of-type(1) {
    margin: 0;
  }
  
  .nav-items li a {
    color: #FFFFFF;
    font-family: "Roboto";
    font-weight: lighter;
    font-size: 14px;
    text-decoration: none;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  /* Search */
  
  .nav-items-search li {
    list-style: none;
    transform: translateX(70px);
    height: 26px;
  }
  
  .nav-items-search li:nth-last-of-type(1) {
    margin: 0;
  }
  
  .nav-items-search li a {
    text-decoration: none;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  }
  
  /* Menu */
  
  .nav-items-menu li {
    list-style: none;
  }
  
  .nav-items-menu li:nth-last-of-type(1) {
    margin: 0;
  }
  
  .nav-items-menu li a {
    opacity: 0;
  }
  
  /* Hidden Items */
  
  .header-container {
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    background-size: contain;
    height: calc(100vh - 72px);
    display: flex;
  }
  
  header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
  header h1 {
    position: absolute;
    top: 336px;
    transform: translateX(-395px);

    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 112px; 
    display: flex;
    letter-spacing: 0.2em;
    color: #69C0B6;
    z-index: 999;
  }
  
  header h2 {
    position: absolute;
    top: 449px;
    transform: translateX(-110px);

    
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 120%; 
    display: flex;
    color: #69C0B6;
    z-index: 999;
  }
  
  header h3 {
    position: absolute;
    top: 562px;
    transform: translateX(-182px);
    
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 250%;
    display: flex;
    letter-spacing: 0.6em;
    color: #7C9EEE;
    z-index: 999;
  }
  
  header h4 {
    position: absolute;
    top: 886px;
    transform: translateX(-250px);
    
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    letter-spacing: 0.25em;
    color: #000000;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  }
  
  header a:hover {
    transform: translateY(-8px);
  }
  
  /* Sfondi */

  .sfondo01-01 {
    position: absolute;
    width: 1920px;
    height: 656px;
    top: 149px;
    transform: translateX(-973px);
    
    background: #E6EDF3;
    mix-blend-mode: normal;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  }
  
  .earth01 {
    position: absolute;
    top: 182px;
    transform: translateX(-300px);
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.25));
  }
  
  .sfondo02-01 {
    position: absolute;
    width: 536px;
    height: 507px;
    top: 1528px; 
    transform: translateX(10px);
    background: #D0D6EB;
    border-radius: 20px;
  }
  
  .sfondo02-02 {
    position: absolute;
    width: 542px;
    height: 507px;
    top: 1528px;
    transform: translateX(-560px);
    background: #DBE1F8;
    border-radius: 20px;
  }
  
  .sfondo02-03 {
    position: absolute;
    width: 1104px;
    height: 528px;
    top: 973px;
    transform: translateX(-560px);
    background: #E4E8F7;
    border-radius: 20px;
  }
  
  .sfondo03-01 {
    position: absolute;
    width: 536px;
    height: 507px;
    top: 2689px;
    transform: translateX(10px);
    background: #E8DCCC;
    border-radius: 20px;
  }
  
  .sfondo03-02 {
    position: absolute;
    width: 542px;
    height: 507px;
    top: 2689px;
    transform: translateX(-560px);
    background: #F8EAD6;
    border-radius: 20px;
  }
  
  .sfondo03-03 {
    position: absolute;
    width: 1104px;
    height: 528px;
    top: 2134px;
    transform: translateX(-560px);
    background: #F7EFE4;
    border-radius: 20px;
  }
  
  .sfondo-down {
    position: absolute;
    width: 1920px;
    height: 643px;
    top: 3357px;
    transform: translateX(-973px);
    background: #88848F;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  }
  
  /* Search box */
  
  .search-box {
    display: none;
  }
}


/* mobile screen */

@media (max-width: 1080px){
  
  * {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  /* Navigation */
  
  .nav-container {
    background: #000000;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    height: 70px;
    width: 100%;
    z-index: 500;
    opacity: 85%;
    position: fixed;
    top: 0;
  }
  
  .wrapper {
    max-width: 1200;
    margin: 0 auto;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul {
    display: flex;
  }
  
  /* Logo */
  
  .nav-logo li {
    list-style: none;
    transform: translateX(450px);
    height: 26px;
  }
  
  .nav-logo li:nth-last-of-type(1) {
    margin: 0;
  }
  
  .nav-logo li a {
    text-decoration: none;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  }
  
  /* Items */
  
  .nav-items li {
    list-style: none;
    margin-right: 100px;
    transform: translateX(28px);
  }
  
  .nav-items li:nth-last-of-type(1) {
    margin: 0;
  }
  
  .nav-items li a {
    color: #FFFFFF;
    font-family: "Roboto";
    font-weight: lighter;
    font-size: 14px;
    text-decoration: none;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    opacity: 0;
  }
  
  /* Search */
  
  .nav-items-search li {
    list-style: none;
    transform: translateX(70px);
    height: 26px;
  }
  
  .nav-items-search li:nth-last-of-type(1) {
    margin: 0;
  }
  
  .nav-items-search li a {
    text-decoration: none;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  }

    /* Menu */
  
    .nav-items-menu li {
      list-style: none;
      transform: translateX(-970px);
      height: 26px;
    }
    
    .nav-items-menu li:nth-last-of-type(1) {
      margin: 0;
    }
    
    .nav-items-menu li a {
      text-decoration: none;
      filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    }
  
  /* Hidden Items */
  
  .header-container {
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    background-size: contain;
    height: calc(100vh - 72px);
    display: flex;
  }
  
  header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
  header h1 {
    position: absolute;
    top: 336px;
    transform: translateX(-395px);

    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 112px; 
    display: flex;
    letter-spacing: 0.2em;
    color: #69C0B6;
    z-index: 999;
  }
  
  header h2 {
    position: absolute;
    top: 449px;
    transform: translateX(-110px);

    
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 120%; 
    display: flex;
    color: #69C0B6;
    z-index: 999;
  }
  
  header h3 {
    position: absolute;
    top: 562px;
    transform: translateX(-182px);
    
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 250%;
    display: flex;
    letter-spacing: 0.6em;
    color: #7C9EEE;
    z-index: 999;
  }
  
  header h4 {
    position: absolute;
    top: 886px;
    transform: translateX(-250px);
    
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    letter-spacing: 0.25em;
    color: #000000;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  }
  
  header a:hover {
    transform: translateY(-8px);
  }
  
  /* Sfondi */

  .sfondo01-01 {
    position: absolute;
    width: 100%;
    height: 656px;
    top: 149px;
    transform: translateX(-531px);
    background: #E6EDF3;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  }
  
  .earth01 {
    position: absolute;
    top: 182px;
    transform: translateX(-300px);
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.25));
  }
  
  .sfondo02-01 {
    position: absolute;
    width: 100%;
    height: 528px;
    top: 2029px;
    transform: translateX(-531px);
    background: #D0D6EB;
  }
  
  .sfondo02-02 {
    position: absolute;
    width: 100%;
    height: 528px;
    top: 1501px;
    transform: translateX(-531px);
    background: #DBE1F8;
  }
  
  .sfondo02-03 {
    position: absolute;
    width: 100%;
    height: 528px;
    top: 973px;
    transform: translateX(-531px);
    background: #E4E8F7;
  }
  
  .sfondo03-01 {
    position: absolute;
    width: 100%;
    height: 507px;
    top: 3693px;
    transform: translateX(-531px);
    background: #E8DCCC;
  }
  
  .sfondo03-02 {
    position: absolute;
    width: 100%;
    height: 507px;
    top: 3186px;
    transform: translateX(-531px);
    background: #F8EAD6;
  }
  
  .sfondo03-03 {
    position: absolute;
    width: 100%;
    height: 528px;
    top: 2658px;
    transform: translateX(-531px);
    background: #F7EFE4;
  }
  
  .sfondo-down {
    position: absolute;
    width: 100%;
    height: 643px;
    top: 4285px;
    transform: translateX(-531px);
    background: #88848F;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  }
  
  /* Search box */
  
  .search-box {
    display: none;
  }
}
