*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    overflow-y: scroll;
}

ul {
  list-style: none;
}

/* 桌面导航 */

.nav-container {
    background: rgba(8, 14, 20, 0.85);
    height: 45px;
    z-index: 300;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.nav-container nav {
    width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}

nav .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav .desktop-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.8;
    transition: opacity 400ms;
}

nav .desktop-nav li a:hover {
    opacity: 1;
}

/* Logo */

.link-logo {
    background: url('./img/logo.png');
    display: block;
    background-position: center;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
}

/* Hidden Items */

.mobile-nav,
.mobile-search-container {
    display: none;
}


/* 缩放 */

@media (max-width: 1100px) {
    .nav-container nav {
        width: 100%;
        padding: 0 32px;
    }
}

@media (max-width: 768px) {
    .nav-container .desktop-nav {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 40%;
        width: 100%;
        height: 0vh;
        background: rgb(4, 0, 8, 0.95);
        justify-content: start;
        overflow: hidden;
        z-index: -1;
        transition: all 1000ms ease;
    }

    .nav-container.active .desktop-nav {
        height: 100vh;
    }

    /* 左侧距离 */

    .nav-container .desktop-nav li {
        width: 100%;
        padding: 0 5%;
    }

    /* 上面距离 */

    .nav-container .desktop-nav li:first-child {
        margin-top: 80px;
    }

    .nav-container .desktop-nav .link-logo {
        display: flex;
    }

    /* 字体属性 */

    .nav-container .desktop-nav li a {
        padding: 16px 0;
        display: inline-block;
        border-bottom: 1px solid #616161;
        width: 56%;
        font-size: 17px;
        opacity: 0;
        transition: all 700ms ease;
    }

    .nav-container.active .desktop-nav li a {
        transform: translateY(0);
        opacity: 1;
    }

    /* 手机导航 */

    nav .mobile-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        list-style: none;
    }

    nav .menu-icon-container {
        width: 20px;
        height: 44px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    nav .menu-icon {
        position: relative;
        width: 100%;
    }

    nav .menu-icon .line-1,
    nav .menu-icon .line-2 {
        
        height: 1px;
        width: 100%;
        background: #fff;
        transition-property: transform, top;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    nav .menu-icon .line-1 {
        top: -4px;
    }

    nav .menu-icon .line-2 {
        top: 4px;
    }

    .nav-container.active nav .menu-icon-container .menu-icon .line-1 {
        top: 0;
        transform: rotateZ(45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    .nav-container.active nav .menu-icon-container .menu-icon .line-2 {
        top: 0;
        transform: rotateZ(-45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    /* 导航移动上 */

    .nav-container nav.move-up {
        margin-top: -40px;
    }

    /* 取消键 */

    .mobile-search-container .cancel-btn {
        color: #2997ff;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
        width: 0px;
        overflow: hidden;
        transition: all 400ms ease;
    }

    .mobile-search-container .search-bar.active + .cancel-btn {
        padding: 0 16px;
        width: 74px;
    }

    .mobile-search-container .search-bar {
        flex: 1;
    }

    /* 导航移动下 */

    nav .desktop-nav.move-down li:first-child {
        margin-top: 150px;
    }

    nav .desktop-nav.move-down li {
        opacity: 0;
        pointer-events: none;
    }
}

input,
div,
span,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
  
  /* 字体 */
  
  .sfondo01 h1 {
    font-family: "Roboto"sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 112px; 
    display: flex;
    justify-content: center;
    letter-spacing: 0.2em;
    color: #69C0B6;
    z-index: 3;
  }
  
  .sfondo01 h2 {
    font-family: "Roboto"sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 120%; 
    display: flex;
    justify-content: center;
    color: #69C0B6;
    z-index: 999;
  }
  
  .sfondo01 h3 { 
    font-family: "Roboto"sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 250%;
    display: flex;
    justify-content: center;
    letter-spacing: 0.6em;
    color: #7C9EEE;
    z-index: 999;
  }
  
  .title-recentworks h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.25em;
    color: #000000;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  }

  .title-socials h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.25em;
    color: #000000;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  }

  .sfondo-down p { 
    font-family: "Roboto"sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    z-index: 2;
  }
  
  
  header a:hover {
    transform: translateY(-8px);
  }

  /* Text title */

  .title-recentworks {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
  }

  .title-socials {
    display: flex;
    align-items: center;
    justify-content: center;
        padding: 60px 0;
  }

  /* Socials */

.links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
}

.links-container div {
  padding: 0 150px;
}

.links-container01 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.links-container02 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.links-container01 li,
.links-container02 li {
  padding: 50px 0;
}

  /* Sfondi */

  .sfondo01 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 184px 0;
    background: #E6EDF3;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  }
  
  .sfondo-down {
    display: flex;
    justify-content: center;
    align-items: start;  
    text-align: center;
    width: 100%;
    padding: 50px 0;
    top: 3833px;
    background: #88848F;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  }

    /* RECENT WORKS */

    .recent-work01 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
